.navbar .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}
.logotext {
  font-size: 64px;
  color: rgb(255, 70, 70);
  text-decoration: none;
  font-weight: 700;
}

.logoimg img {
  height: 100px;
  width: 100px;
  white-space: nowrap;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
}
.links a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 70, 70);
}

.links .link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(255, 70, 70);
  transition: 0.3s;
}

.links .signin a {
  color: #ffffff;
}
.links .signin .link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: 0.3s;
}

.links .link:hover::before {
  width: 100%;
}

.links span {
  cursor: pointer;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(255, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  #sign-in {
    font-weight: 800;
  }
}
