@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

body {
  min-height: 100vh;
  /**BACKGROUND FOR TESTING, MAY CHANGE*/
  background: #f5f7f8;
  background-size: cover;
  background-position: center;
}

.app {
  display: flex;
  justify-content: center;
}
.app .container {
  width: 100%;
}

.link {
  text-decoration: none;
  color: rgb(255, 70, 70);
  margin-top: 8px;
}
