.club-page {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
}

.title-and-img {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    margin: 3em;
}

.img-container img {
    height: 100%;
    width: auto;
    border-radius: 10px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    margin: 3em;
}

.title-container h1 {
    font-size: 3.5em;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    background-color: #E1E5E6;
    border-radius: 10px;
    padding: 3em;
    width: 100%;
}

.more-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    margin: 1em;
    width: 100%;
    margin-bottom: 3em;
}

.info-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E1E5E6;
    border-radius: 10px;
    padding: 3em;
    width: 100%;
    border-bottom: 2px solid #a6a9aa;
    height: 150px;
}

.info {
    flex: 1;
}

.info p {
    font-size: 1em;
}

.social-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E1E5E6;
    border-radius: 10px;
    width: 100%;
    border-bottom: 2px solid #a6a9aa;
    height: 150px;
    padding: 1em;
}


.social {
    flex: 1;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border-radius: 10px;
}

.social img {
    height: 50%;
    width: auto;
    border-radius: 10px;
}

.social a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 .5em 0 .5em;
}

.instagram {
    height: 90%;
    width: 90%;
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.discord {
    height: 90%;
    width: 90%;
    background-color: #7289DA;
}
