.landing-page {
  height: 85vh;
  width: 99vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.text-and-img {
  width: 100%;
  height: 100%;
  max-width: 90vw;
  background-image: linear-gradient(to bottom, #d6001c, #a50017);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.side-by-side {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1600px;
}

.title {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.title h1 {
  height: 100%;
  font-size: 100px;
  font-weight: 900;
  color: #f5f7f8;
  margin: 20px 0 20px 0;
}

.title h3 {
  height: 100%;
  font-size: 30px;
  color: #f5f7f8;
  margin-bottom: 10px;
}

.gold-text {
  color: #ffcd00;
}

.big-logo {
  padding: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.big-logo img {
  height: 50%;
  width: auto;
}

.postsContainer {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  margin: 150px;
  font-size: 25px;
  color: rgb(255, 70, 70);
  text-decoration: none;
  font-weight: 700;
}

.postTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-bottom: 12px;
}

.postsHeader {
  display: flex;
  font-size: 40px;
  font-weight: 800;
}

.postsDesc {
  display: flex;
  font-size: 16px;
  width: 700px;
}
button {
  width: max-content;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 70, 70);
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.post {
  flex: 1;
  max-width: 400px;
  height: 420px;
  padding: 20px;
  border-radius: 5px;
  border: solid rgb(255, 70, 70);
  border-width: thick;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 24px;
}
p {
  font-size: 16px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.8em;
}
.img {
  flex: none;
  height: 200px;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  background-color: #f5f7f8;
  border: 2px solid rgb(255, 70, 70);
  color: rgb(255, 70, 70);

  &:hover {
    border: 2px solid #f5f7f8;
    background-color: rgb(255, 70, 70);
    color: #f5f7f8;
  }
}
#findButton {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  height: 50px;
}
