.postsContainer {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  margin: 150px;
  font-size: 25px;
  color: rgb(255, 70, 70);
  text-decoration: none;
  font-weight: 700;
}

.postTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 12px;
  height: 100%;
}

.postsHeader {
  display: flex;
  font-size: 40px;
  font-weight: 800;
}

.postsDesc {
  display: flex;
  font-size: 16px;
  width: 700px;
}
button {
  width: max-content;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 70, 70);
}
#findButton {
  color: #f5f7f8;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  height: 50px;
}

#findButton::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #f5f7f8;
  transition: 0.3s;
}
.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.post {
  flex: 1;
  max-width: 400px;
  height: 420px;
  padding: 20px;
  border-radius: 5px;
  border: solid rgb(255, 70, 70);
  border-width: thick;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 24px;
}
p {
  font-size: 16px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.8em;
}
.img {
  flex: none;
  height: 200px;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#learnButton {
  background-color: #f5f7f8;
  border: 2px solid rgb(255, 70, 70);
  color: rgb(255, 70, 70);

  &:hover {
    border: 2px solid #f5f7f8;
    background-color: rgb(255, 70, 70);
    color: #f5f7f8;
  }
}
